body{
    /* color: var(--primary-text-color);
    background-color: var(--third-text-color); */
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 700;
    color: white;
}

img{​  
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}

header, main, footer{
    background-image: linear-gradient(black, black);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

a{
    text-decoration: none;
}
li {
    list-style-type: none; /* Убираем маркеры */
}


.header-navigation{
    display: flex;
    align-items: center;
}

.main-logo{
    display: flex;
    margin-left: 30px;
    color: inherit;
    font-size: 20px;
}

.main-logo-last{
    color: red;
}

.main-logo-last:hover,
.main-logo-last:focus{
    color: white;
}

.main-logo:hover,
.main-logo:focus{
    color: red;
}

.social-links{
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.title{
    color: inherit;
    text-transform: uppercase;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

.pages{
    margin-left: 120px;
}

.pages-links + .pages-links{
    margin-left: 30px;
}

.pages .current{
    position: relative;
}

.current::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.8);
}

.current{
    color: red;
}

.header-link{
    display: block;
    color: inherit;
    text-transform: uppercase;
}

.instagram{
    margin-right: 10px;
    width: 12px;
    height: 12px;
    align-items: center;
    fill: white;
}

.header-link:hover,
.header-link:focus{
    color: red;
}

.header-link:hover > .instagram,
.header-link:focus > .instagram{
    fill: red;
}

.youtube{
    margin-right: 10px;
    width: 12px;
    height: 12px;
    align-items: center;
    fill: white;
}

.header-link:hover > .youtube,
.header-link:focus > .youtube{
    fill: red;
}

.header{
    margin-right: 30px;
    padding-bottom: 13px;
    padding-top: 13px;
}

.content{
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero-main{
    padding: 0;
    margin: 0;
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 80px;
    transition: 1000ms;
    /* animation-iteration-count: infinite; */
}

.hero-main:hover,
.hero-main:focus{
    color: red;
    cursor: pointer;
}

.video-definition{
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.definition{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.trailer{
    font-size: 50px;
}

.description{
    display: flex;
    justify-content: center;
}

.description > div{
    margin-right: 50px;
}

.description > div:last-child{
    margin-right: 0px;
}

.video-content{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    max-width: 500px;
    margin-right: 50px;
}

.video-content > p{
    margin-top: 58px;
    font-size: 40px;
}

.video-content > h2:hover,
.video-content > h2:focus{
    color: green;
    cursor: pointer;
}

.video-content > p:hover,
.video-content > p:focus{
    color: red;
    cursor: pointer;
}

.definition-title{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.video{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video > li{
    margin-left: 15px;
}

.video > li:nth-child(-n + 4){
    margin-bottom: 25px;
}

.last-word{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid red;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
}

.details{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-align: center;
    width: 500px;
    font-size: 70px;
}

.scene {
    border: 1px solid rgba(255, 0, 0, 0.5);
    margin: 40px 0;
    perspective: 600px;
}
  
.card {
    width: 550px;
    height: 315px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.scene:hover .card,
.scene:focus .card{
    transform: rotateY(180deg);
}


.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 40px;
    backface-visibility: hidden;
}
  
.phenom {
    background-image: url(../images/phenom.jpg);
}
  
.gamingpc{
    background-image: url(../images/gamingpc.jpg);
}

.tabletpc{
    background-image: url(../images/tabletpc.jpg);
}

.tablet-gaming{
    background-image: url(../images/tablet-gaming.jpg);
}

.mytab-garda{
    background-image: url(../images/mytab-garda.jpg);
}

.laptop{
    background-image: url(../images/laptop.jpg);
}

.phenom, .gamingpc, .tabletpc, .tablet-gaming, .mytab-garda, .laptop{
    background-size: cover;
}

.card__face--back {
    background: rgba(255, 0, 0, 0.5);
    transform: rotateY(180deg);
    padding: 40px 40px;
}

.computers-capabilities{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid red;
    justify-content: center;
}

.computers-capabilities:nth-child(even){
    background-color: rgba(255, 0, 0, 0.2);
    flex-direction: row-reverse;
}

.computers-direction{
    padding: 90px 0px;
    padding-left: 40px;
    max-width: 580px;
}

.computers-capabilities:nth-child(even) .computer-specification {
    padding-right: 40px;
    text-align: right;
}

.computer-title{
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
}

.computer-specification{
    font-size: 25px;
}

